In [1]:
import sys
import os
sys.path.append(os.path.join(os.path.dirname(""),".."))
import custom
import numpy as np

import pandas as pd
from kiwipiepy import Kiwi
from tqdm import tqdm
import json

In [2]:
with open("data/eng_kor.txt", mode = "r", encoding="UTF8") as f :
    data = f.readlines()

print(len(data))

5890

In [3]:
eng = []
eng_len = []
kor = []
kor_len = []

for d in tqdm(data) :
    d = d.split("\t")
    e = custom.text_preprocess(d[0], True)
    e = e.replace("."," .")
    e = e.replace("!"," !")
    e = e.replace("?"," ?")
    k = custom.text_preprocess_kor(d[1], True)
    
    eng.append(e)
    eng_len.append(len(e.split()))
    kor.append(k)
    kor_len.append(0)

df = pd.DataFrame({'eng' : eng, 'eng_len' : eng_len, 'kor' : kor, 'kor_len' : kor_len})

display(df)

100%|███████████████████████████████████████████████████████████████████████████| 5890/5890 [00:00<00:00, 19466.84it/s]

,eng,eng_len,kor,kor_len
0,go .,2,가.,0
1,hi .,2,안녕.,0
2,run !,2,뛰어!,0
3,run .,2,뛰어.,0
4,who ?,2,누구?,0
...,...,...,...,...
5885,i started a new blog . i ll do my best not to ...,31,난 블로그를 시작했어. 블로그를 초반에만 반짝 많이 하다가 관두는 사람처럼은 되지 ...,0
5886,i think it s a shame that some foreign languag...,26,몇몇 외국어 선생님이 한 번도 원어민과 공부해본 적도 없으면서 대학을 나올 수 있었...,0
5887,and the good news is that today the economy is...,30,다음으로 좋은 소식은 오늘 경제가 재성장한다는 것입니다. 임금 소득 집값 퇴직금이 ...,0
5888,if someone who does not know your background s...,49,만일 네 사정도 잘 모르는 사람이 원어민 같다고 말한다면 그건 그 사람이 네가 원어...,0
5889,doubtless there exists in this world precisely...,102,의심의 여지 없이 세상에는 어떤 남자이든 정확히 딱 알맞는 여자와 결혼하거나 그 반...,0

In [4]:
kiwi = Kiwi()

for i in tqdm(range(len(df))) :
    words = []
    
    temp = df.iloc[i,2]
    temp = kiwi.tokenize(temp, z_coda=True, split_complex=True, compatible_jamo=True)
    for w in temp :
        words.append(w.form)
    words.append("<eos>")
    df.iloc[i,2] = " ".join(words)
    df.iloc[i,3] = len(words)

display(df)

100%|█████████████████████████████████████████████████████████████████████████████| 5890/5890 [00:14<00:00, 412.52it/s]

,eng,eng_len,kor,kor_len
0,go .,2,가 어 . <eos>,4
1,hi .,2,안녕 . <eos>,3
2,run !,2,뛰 어 ! <eos>,4
3,run .,2,뛰 어 . <eos>,4
4,who ?,2,누구 ? <eos>,3
...,...,...,...,...
5885,i started a new blog . i ll do my best not to ...,31,나 ㄴ 블로그 를 시작 하 었 어 . 블로그 를 초반 에 만 반짝 많 이 하 다가 ...,38
5886,i think it s a shame that some foreign languag...,26,몇몇 외국어 선생 님 이 한 번 도 원어민 과 공부 하 어 보 ㄴ 적 도 없 으면서...,40
5887,and the good news is that today the economy is...,30,다음 으로 좋 은 소식 은 오늘 경제 가 재 성장 하 ㄴ다는 것 이 ㅂ니다 . 임금...,40
5888,if someone who does not know your background s...,49,만일 너 의 사정 도 잘 모르 는 사람 이 원어민 같 다고 말 하 ㄴ다면 그거 ㄴ ...,67
5889,doubtless there exists in this world precisely...,102,의심 의 여지 없 이 세상 에 는 어떤 남자 이 든 정확 히 딱 알맞 는 여자 와 ...,165

In [5]:
print(df['eng_len'].mean())
print(df['eng_len'].std())
print()
print(df['kor_len'].mean())
print(df['kor_len'].std())

6.7208828522920205
2.9271198241843157

10.976400679117148
4.410613322643567

In [6]:
p = len(df[(df['eng_len'] <= 10) & (df['kor_len'] <= 20)]) / len(df)

print(p)

new_df = df[(df['eng_len'] <= 10) & (df['kor_len'] <= 20)]
display(new_df)

0.9241086587436332

,eng,eng_len,kor,kor_len
0,go .,2,가 어 . <eos>,4
1,hi .,2,안녕 . <eos>,3
2,run !,2,뛰 어 ! <eos>,4
3,run .,2,뛰 어 . <eos>,4
4,who ?,2,누구 ? <eos>,3
...,...,...,...,...
5816,there are some important questions that scienc...,10,과학 이 답변 하 ㄹ 수 없 는 몇 가지 중요 하 ㄴ 질문 들 이 있 어 . <eos>,20
5825,company regulations mandate that workers use p...,9,회사 내규 에 의하 면 근로자 가 보호 안경 을 사용 하 도록 되 어 있 다 . <...,19
5826,company regulations mandate that workers use p...,9,회사 규칙 에 따르 면 근로자 가 보호 안경 을 쓰 도록 되 어 있 어 . <eos>,18
5827,company regulations mandate that workers use p...,9,회사 방침 에 따르 면 근로자 가 보호 안경 을 사용 하 도록 되 어 있 어 요 ....,20
5847,switzerland is situated between france italy a...,10,스위스 는 프랑스 와 이탈리아 오스트리아 독일 사이 에 있 다 . <eos>,13

In [7]:
new_df.to_csv("data/data.csv", index=False, encoding="UTF8", sep = "\t")

In [8]:
eng_word_dict, eng_num_dict  = custom.make_dict(new_df['eng'].values.tolist(), special_words=['<pad>','<unk>','<sos>','<eos>'])

kor_word_dict, kor_num_dict  = custom.make_dict(new_df['kor'].values.tolist(), special_words=['<pad>','<unk>','<sos>','<eos>'])

print(len(eng_word_dict))
print(len(kor_word_dict))

2890
2871

In [9]:
with open('data/eng_word.json', mode = "w", encoding="UTF8") as f:
    json.dump(eng_word_dict, f)

with open('data/eng_num.json', mode = "w", encoding="UTF8") as f:
    json.dump(eng_num_dict, f)

with open('data/kor_word.json', mode = "w", encoding="UTF8") as f:
    json.dump(kor_word_dict, f)

with open('data/kor_num.json', mode = "w", encoding="UTF8") as f:
    json.dump(kor_num_dict, f)